@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@400;500&display=swap");

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;
    font-family: "Inter",sans-serif;
}
:root{
    --main-color:#c9f31d;
    --p_color:#8a8a8a;
    --bf_color:#1F1F1F;
    --white_color:#fff;
    --black_color:#070707;
    --border-color:rgba(255,255,255,0.1);
}
body{
    background: #131313;
}

.container{
    width: 80%;
    margin: auto;
    max-width: 1500px;
}
img{
    width: 100%;
}
h1,h2,h3,h4,h5,h6{
    font-family: "DM Sans", sans-serif;
    color: var(--white_color);
}
span{
    color: var(--main-color);
}
p{
    color: var(--p_color);
}
/*background lines moving*/
/*Zeyda ma8ir mata3malha*/
.bg-lines span{
    position: fixed;
    top: 0;
    z-index: -1;
    background-color: rgba(255,255,255,0.05);
    height: 100%;
    width: 1px;
    -webkit-animation: left_right 18s infinite;
    animation: left_right 18s infinite;
}
@keyframes left_right {
    0%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    50%{
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }
    100%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
.bg-lines span:nth-child(1){
    left:10%;
}
.bg-lines span:nth-child(2){
    left:20%;
}
.bg-lines span:nth-child(3){
    left:30%;
}
.bg-lines span:nth-child(4){
    left:40%;
}
.bg-lines span:nth-child(5){
    left:50%;
}
.bg-lines span:nth-child(6){
    left:60%;
}
.bg-lines span:nth-child(7){
    left:70%;
}
.bg-lines span:nth-child(8){
    left:80%;
}
.bg-lines span:nth-child(9){
    left:90%;
}
/*header styles*/
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height:100px;
    transition: 0.3s;
}
header.active{
    background-color: var(--black_color);
    border-bottom:1px solid #56565697;
    z-index: 1000;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header nav .logo img{
    width: 200px;
}

header nav .links{
    display: flex;
    gap: 40px;
}
header nav .links a{
    text-transform: capitalize;
    color: var(--white_color);
    font-size: 18px;
    transition: 0.3s;
}

header nav .links a:hover{
    color: var(--main-color);
}

header nav .icons{
    display: flex;
    gap: 30px;
}

header nav .icons a{
    color: var(--main-color);
    font-size: 28px;
    transition: 0.3s;
}
header nav .icons a:hover{
    scale: 1.4;
}

/*Hero Section*/
.hero{
    padding: 100px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero .div_text{
    width: 50%;
}
.hero .div_text h4{
    color: var(--p_color);
    font-size: 35px;
    margin-bottom: 15px;
}
.hero .div_text h1{
    font-size: 70px;
}
.hero .div_text h2{
    font-size: 50px;
    font-weight: normal;
    line-height: 0.9;
}
.hero .div_text p{
    margin: 30px 0;
    font-size: 18px;
    line-height: 1.7;
    width: 80%;
}
.hero .btns{
    font-size: 20px;
    padding:18px 50px; 
}

.hero .div_img{
    width: 40%;
}
.hero video{
    width: 100%;
}

/*buttons*/
.btns{
    display: flex;
    align-items: center;
}

.btn{
    background-color: var(--main-color);
    padding:14px 30px;
    border-radius: 10px;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--black_color);
    transition: 0.3s;
}
.btn:hover{
    scale:1.1;
}

/*About section*/
section{
    padding: 80px;
}
.about .container{
    background-color: var(--black_color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    border-radius: 5px;
}
.about .div_text{
    width: 50%;
}
.about .div_text h5{
    font-size: 18px;
    color: var(--p_color);
    text-transform: capitalize;
}
.about .div_text h2{
    font-size: 45px;
    margin: 25px 0 5px;
}
.about .div_text p{
    line-height: 1.8;
}
.about .div_text ul{
    display: flex;
    color: var(--white_color);
    margin: 30px 0 20px;
    flex-wrap: wrap;
}
.about .div_text li{
    width: 45%;
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}
.about .div_text li i{
    color: var(--main-color);
}
.about .div_img{
    width: 40%;
}
/*Project decoration*/
.top_section{
    text-align: center;
    margin-bottom: 100px;
}
.top_section h2{
    font-size: 30px;
}
.projects .project_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.projects .project_box img{
    width: 45%;
}
.projects .project_box .text{
    margin-left: 100px;
    width: calc(50% - 100px);
}
.projects .project_box .text h4{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: normal;
    color: var(--main-color);
}
.projects .project_box .text h3 a{
    font-size: 40px;
    color: var(--white_color);
    transition: 0.5s;
}
.projects .project_box .text h3 a:hover{
    color: var(--main-color);
}
.projects .project_box .text p{
    margin: 30px 0 50px;
    line-height: 1.8;
}
.projects .project_box .text .link{
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid var(--border-color);
    text-align: center;
    line-height: 50px;
    background-color: var(--main-color);
    color: var(--white_color);
    border-radius: 50%;
    transition: 0.3s;
}
.projects .project_box .text .link:hover{
    scale:1.2;
}
.projects .project_box.project_box_2{
    flex-direction: row-reverse;
}
/*Contact section decoration*/
.contact .container{
    display: flex;
    justify-content: space-between;
}


.contact .top_section{
    margin-bottom: 100px;
}
.contact .social_contact{
    width: 30%;
}
.contact .social_contact h2{
    color: var(--white_color);
    margin-bottom: 40px;
}
.contact .social_contact .links{
    display: flex;
    flex-direction: column;
}
.contact .social_contact a{
    color: var(--white_color);
    font-size: 20px;
    margin-bottom: 20px;
    left: 0;
    position: relative;
    transition: 0.3s;
}
.contact .social_contact a i{
    color: var(--main-color);
    margin-right: 10px;
    width: 45px;
    height: 45px;
}
.contact .social_contact a:hover{
    left: 15px;
}
.contact form{
    width: 60%;
    text-align: center;
}
.contact form .inpts_form{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .inpts_form input,.contact form .inpts_form textarea{
    border-radius: 5px;
    padding: 10px;
    outline: none;
    background-color: var(--bf_color);
    color: white;
    margin-bottom: 30px;
    border: 1px solid var(--border-color);
    transition: 0.3s;
}
.contact form .inpts_form input{
    width: 48%;
}
.contact form .inpts_form textarea{
    width: 100%;
}
.contact form .inpts_form input:focus,.contact form .inpts_form textarea:focus{
    border-color: var(--main-color);
}
.about table{
    color: var(--white_color);
    text-align: center;
    border-collapse: collapse;
    
}
.about th,td{
    padding: 5px;
    border: 1px solid var(--main-color);
}
.contact .btn{
    outline: none;
    padding: 15px 35px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}
/*Responsive */
.close_menu,header .links .logo,.icon_menu{
    display: none;
}

@media (max-width:1250px) {
    .container{
        width: 90%;
    }
}
@media (max-width:1000px) {
    header nav .links{
        position: fixed;
        top: 0;
        flex-direction: column;
        width: 400px;
        left: -400px;
        background-color: var(--black_color);
        padding: 50px 0;
        height: 100%;
        border-right: 1px solid var(--border-color);
        text-align: center;
        transition: 0.3s ease-in-out;
    }
    header nav .links.active{
        left: 0;
    }
    .close_menu{
        display: block;
        font-size: 28px;
        position: absolute;
        top: 30px;
        right: 30px;
    }
    header .links .logo{
        display: block;
    }
    .icon_menu{
        display: block;
        font-size: 28px;
    }
    /*Home Responsive*/
    .hero .div_text h4{
        font-size: 25px;
    }
    .hero .div_text h1{
        font-size: 55px;
    }
    .hero .container{
        flex-direction: column;
        
    }
    .hero .div_text{
        width: 100%;
        margin-top: 50px;
        text-align: center;
    }
    
    .about .container{
        flex-direction: column;
    }
    .about .div_text{
        width: 100%;
        margin-bottom: 20px;
    }
    .about .div_text table{
        margin: auto;
    }
    .about .div_img{
        width: 45%;
    }
    .projects .project_box .text h3 a{
        font-size: 20px;
    }
    .projects .project_box .text h4{
        font-size: 18px;
    }
    .projects .project_box .text p{
        font-size: 14px;
    }
    .projects .project_box .text{
        width: calc(50% - 50px);
        margin-left: 50px;
    }
    .contact .container{
        flex-direction: column;
    }
    .contact .social_contact{
        width: 100%;
        margin-bottom: 50px;
    }
    .contact .social_contact .links{
        flex-direction: row;
    }
    .contact .social_contact .links a{
        width: 50%;
    }
    .contact form{
        width: 80%;
        margin: 0 auto;
    }
}
@media (max-width:500px){
    header nav .icons a{
        font-size: 20px;
    }
    header nav .icons{
        gap: 15px;
        align-items: center;
    }
    header nav .logo img{
        width: 150px;
    }
    header nav .links{
        width: 100%;
        left: -100%;
    }
    .icon_menu{
        margin-left: 15px;
    }
    .hero .div_text h4{
        font-size: 20px;
    }
    .hero .div_text h1{
        font-size: 40px;
    }
    .hero .container{
        flex-direction: column;
        
    }
    .hero .div_text{
        width: 100%;
        margin-top: 25px;
        text-align: center;
    }
    .hero .div_img{
        margin-top: 10px;
        width: 100%;
    }
    .about .div_text h5{
        font-size: 30px;
    }
    .about .div_text h2{
        font-size: 35px;
    }
    .about .div_text p{
        font-size: 14px;
    }
    .about .div_text li{
        width: 100%;
        font-size: 14px;
    }
    .about .div_text table{
        width: 100%;
        table-layout: fixed;
    }
    .about .div_text th,td{
        width: 100%;
        word-wrap: break-word;
    }
    .about .div_img{
        width: 85%;
    }
    .projects .project_box{
        flex-direction: column;
    }
    .projects .project_box.project_box_2{
        flex-direction: column;
    }
    .projects .project_box img{
        width: 100%;
        margin-bottom: 30px;
    }
    .projects .project_box .text{
        width: 100%;
        margin-left: 0;
    }
    .projects .project_box .text .link{
        margin-top: 30px;
    }
    .contact .social_contact .links{
        flex-direction: column;
    }
    .contact .social_contact .links a{
        width: 100%;
    }
    .contact form{
        width: 100%;
    }
    .contact form .inpts_form input{
        width: 100%;
    }
}